// ********************************************************
//
//   DECLARE MODULE:
//
    $module: 'peripherals/comments/comments-xy-annotations';
    $module: add-component-module($module);
//
//   TODO: determine if this is still necessary, or if it should be moved somewhere else
//
// ********************************************************


//
// POPOVER ORIGIN / NOTE ICONS
//
    .annotation-origin,
    .new-annotation-origin {
        position: absolute;
        width: 2.4rem;
        height: 2.4rem;
        -webkit-touch-callout: none;
        @include disable-user-select();
    }

    .annotation-origin > .hitarea {
        position: absolute;
        left: -25%;
        top: -25%;
        bottom: -25%;
        right: -25%;
    }

    .note-origin {
        .note-icon {
            &:before, &:after {
                line-height: 1.1875em;
            }
        }

        &.dragging .note-icon {
            position: absolute;
            height: 7.2rem;
            width: 7.2rem;
            left: -2.4rem;
            top: -2.4rem;
            font-size: 6.4rem;
        }
    }

    .highlight-origin {
        .highlight-icon {
            background-color: #f9d805;
            opacity: .8;
            border-radius: 1rem;
            width: 2rem;
            height: 2rem;
            left: .2rem;
            top: .2rem;
            position: absolute;
        }

        &.dragging {
            .highlight-icon {
                height: 6.4rem;
                width: 6.4rem;
                left: -2rem;
                top: -2rem;

                border-radius: 3.2rem;
            }
        }
    }
