// ********************************************************
//
//   Wdesk Login Page Utility Classes
//
    $module: 'peripherals/wdesk-login/atoms/wdesk-login-utilities';
    $module: add-component-module($module);
//
// ********************************************************


.inline-block {
    display: inline-block;
}
